# Variáveis de ambiente
.env

# Capturas de rede
*.pcap
*.pcapng

# Arquivos oficiais e binários do Packet Tracer
*.pka
*.pkt

# Evidências brutas
**/evidence/raw/

# Arquivos temporários de editores
*~